.container{
    padding: 20px;
}

.customcolumn{
   
    height: 100%;
    
}
.custompadding{
    padding-bottom: 10px;
}

.inside1{
    background-color: bisque;
    padding: 20px;
    height: 500px;
    border: 1px solid black;
   
}

.inside2{
    background-color: bisque;
    padding: 20px;
    height: 500px;
    border: 1px solid black;
  
}

.inside3{
    background-color: bisque;
    padding: 20px;
    height: 500px;
    border: 1px solid black;
}